{% extends 'TicmeBackBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ product.title }}</h1>
        </div>
        <div class="col-lg-6">
            {{ product.description }}
            {{ product.priceHt }}
            {{ product.available }}
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('ticme_back_product_list') }}" class="btn btn-default"><i class="fa fa-mail-reply"></i> Revenir à la liste des produits</a>
            <a href="{{ path('ticme_back_product_edit', {'id': product.id}) }}" class="btn btn-info"><i class="fa fa-edit"></i> Editer</a>
        </div>
    </div>
{% endblock %}