<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Facture</title>
    <link href="{{ absolute_url(asset('css/facture.css')) }}" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Ticme</h1>
<table id="enTete">
    <tr>
        <td colspan="1"></td>
        <td colspan="1"><h1>Facture</h1></td>
        <td colspan="1"></td>
    </tr>
    <tr>
        <td width="80">Page</td>
        <td width="100">Date</td>
        <td width="120">Ref</td>
    </tr>
    <tr>
        <td class="color">[[page_nb]]</td>
        <td class="color">{{ invoice.createdAt|date('d-m-Y') }}</td>
        <td class="color">{{ invoice.reference }}</td>
    </tr>
</table>
<ul id="coordonnes">
    <li>{{ invoice.contorder.billing.lastname }} {{ invoice.contorder.billing.name }}</li>
    <li>{{ invoice.contorder.billing.address}}</li>
    <li>{{ invoice.contorder.billing.zipcode }} {{ invoice.contorder.billing.city }} - {{ invoice.contorder.billing.country }}</li>
</ul>
<table id="entity">
    <tr>
        <td width="280">DESIGNATION</td>
        <td width="105">QUANTITE</td>
        <td width="100">P.U - HT</td>
        <td width="105">MONTANT HT</td>
        <td width="105">MONTANT TTC</td>
    </tr>
    {% for produit in invoice.contorder.product %}
        <tr>
            <td class="color">{{ produit.reference }}</td>
            <td class="color">{{ produit.quantite }}</td>
            <td class="color">{{ produit.prixHT }} €</td>
            <td class="color">{{ produit.prixHT * produit.quantite }} €</td>
            <td class="color">{{ produit.prixTTC * produit.quantite }} €</td>
        </tr>
    {% endfor %}
</table>
<table id="total">
    <tr>
        <td width="110">TOTAL HT :</td>
        <td width="100" class="color">{{ invoice.contorder.prixHT }} €</td>
    </tr>
    {% for key, tva in invoice.contorder.tva %}
        <tr>
            <td width="110">TVA <span class="color min">{{ key }}</span> :</td>
            <td width="100" class="color">{{ tva }} €</td>
        </tr>
    {% endfor %}
    <tr>
        <td width="110">TOTAL TTC :</td>
        <td width="100" class="color">{{ invoice.contorder.prixTTC }} €</td>
    </tr>
</table>
<div id="footer">
</div>
</body>
</html>