{% extends 'TicmeFrontBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{ render(controller('TicmeFrontBundle:Category:categorieMenu')) }}
            </div>
            <div class="col-md-8">

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-errors">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <h2>Factures</h2>
                <form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Références</th>
                                <th>Date</th>
                                <th>Prix TTC</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if invoices|length == 0 %}
                            <tr>
                                <td colspan="4" class="text-center">Ancune facture actuellement.</td>
                            </tr>
                        {% endif %}
                        {% for invoice in invoices %}
                            <tr>
                                <td><strong>Ref: {{ invoice.reference }}</strong></td>
                                <td>{{ invoice.createdAt|date('d/m/Y') }}</td>
                                <td>{{ invoice.contorder.prixTTC }} €</td>
                                <td><a href="{{ path('ticme_front_invoicePDF', { 'id' : invoice.id }) }}" target="_blank" title="Générer la facture Pdf"><i class="fa fa-file-pdf-o"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>

            </div>

        </div>
    </div>
{% endblock %}