{% extends 'TicmeBackBundle::layout.html.twig' %}

{% block content %}
    {{ parent() }}
    {% if form_errors(formCategory) %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> Alerte!</h4>
            Tous les champs de votre formulaire n'ont pas été validé.
        </div>
    {% endif %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Editer une Catégorie</h3>
        </div><!-- /.box-header -->
        {{ form_start(formCategory, {'attr': { novalidate: 'novalidate' ,'role': 'form' }, 'multipart': { form_enctype: true }}) }}
        <div class="box-body">
            {#{{ dump(formProduct) }}#}
            {{ form_errors(formProduct) }}

            {{ form_label(formProduct.title) }}
            <div class="form-group {% if form_errors(formProduct.title) %} has-error {% endif %}">
                {{ form_errors(formProduct.title) }}
                {{ form_widget(formProduct.title, { 'attr': {'class': 'form-control', 'placeholder': 'Titre'} }) }}
            </div>

            {{ form_label(formProduct.description) }}
            <div class="form-group {% if form_errors(formProduct.description) %} has-error {% endif %}">
                {{ form_errors(formProduct.description) }}
                {{ form_widget(formProduct.description, { 'attr': {'class': 'form-control', 'placeholder': 'Description'} }) }}
            </div>

            {{ form_label(formProduct.priceHt) }}
            <div class="form-group {% if form_errors(formProduct.priceHt) %} has-error {% endif %}">
                {{ form_errors(formProduct.priceHt) }}
                {{ form_widget(formProduct.priceHt, { 'attr': {'class': 'form-control', 'placeholder': 'Prix hors taxe'} }) }}
            </div>

            {{ form_label(formProduct.available) }}
            <div class="form-group {% if form_errors(formProduct.available) %} has-error {% endif %}">
                {{ form_errors(formProduct.available) }}
                {{ form_widget(formProduct.available, { 'attr': {'class': 'form-control', 'placeholder': 'Disponible'} }) }}
            </div>

            <div class="box-footer">
                <button class="btn btn-primary">Envoyer</button>

                <a href="{{ path('ticme_back_product_list') }}" class="btn btn-default"><i class="fa fa-mail-reply"></i> Revenir à la liste des produits</a>
            </div>
            {{ form_rest(formProduct) }}
        </div>
        {{ form_end(formCategory) }}
    </div>
{% endblock %}