{% extends 'TicmeBackBundle::layout.html.twig' %}

{% block content %}
    {{ parent() }}
    {% if form_errors(formProduct) %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> Alerte!</h4>
            Tous les champs de votre formulaire n'ont pas été validé.
        </div>
    {% endif %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Editer un Produit</h3>
        </div><!-- /.box-header -->
        {{ form_start(formProduct, {'attr': { novalidate: 'novalidate' ,'role': 'form' }, 'multipart': { form_enctype: true }}) }}
        <div class="box-body">

            {#{{ dump(formProduct) }}#}
            {{ form_errors(formProduct) }}

            {{ form_label(formProduct.category) }}
            <div class="form-group {% if form_errors(formProduct.category) %} has-error {% endif %}">
                {{ form_errors(formProduct.category) }}
                {{ form_widget(formProduct.category, { 'attr': {'class': 'form-control'} }) }}
            </div>

            {{ form_label(formProduct.title) }}
            <div class="form-group {% if form_errors(formProduct.title) %} has-error {% endif %}">
                {{ form_errors(formProduct.title) }}
                {{ form_widget(formProduct.title, { 'attr': {'class': 'form-control', 'placeholder': 'Titre'} }) }}
            </div>

            {{ form_label(formProduct.priceHt) }}
            <div class="form-group {% if form_errors(formProduct.priceHt) %} has-error {% endif %}">
                {{ form_errors(formProduct.priceHt) }}
                {{ form_widget(formProduct.priceHt, { 'attr': {'class': 'form-control', 'placeholder': 'Prix hors taxe'} }) }}
            </div>

            {{ form_label(formProduct.tva) }}
            <div class="form-group {% if form_errors(formProduct.tva) %} has-error {% endif %}">
                {{ form_errors(formProduct.tva) }}
                {{ form_widget(formProduct.tva, { 'attr': {'class': 'form-control'} }) }}
            </div>

            {{ form_label(formProduct.description) }}
            <div class="form-group {% if form_errors(formProduct.description) %} has-error {% endif %}">
                {{ form_errors(formProduct.description) }}
                {{ form_widget(formProduct.description, { 'attr': {'class': 'form-control ckeditor', 'placeholder': 'Description'} }) }}
            </div>

            {{ form_label(formProduct.image) }}

            <div class="form-group {% if form_errors(formProduct.image.name) %} has-error {% endif %}">
                {{ form_errors(formProduct.image.name) }}
                {{ form_widget(formProduct.image.name, { 'attr': {'class': 'form-control', 'placeholder': 'Alt'} }) }}
            </div>
            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                {{ form_errors(formProduct.image) }}
                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
                    {{ form_widget(formProduct.image.file) }}
                </span>
                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>

            <div class="form-group {% if form_errors(formProduct.available) %} has-error {% endif %}">
                {{ form_errors(formProduct.available) }}
                <div class="checkbox">
                    <label>
                        {{ form_widget(formProduct.available) }} {{ form_label(formProduct.available) }}
                    </label>
                </div>
            </div>

            <div class="box-footer">
                <button class="btn btn-primary">Envoyer</button>

                <a href="{{ path('ticme_back_product_list') }}" class="btn btn-default"><i class="fa fa-mail-reply"></i> Revenir à la liste des produits</a>
            </div>
            {{ form_rest(formProduct) }}
        </div>
        {{ form_end(formProduct) }}
    </div>
{% endblock %}