{% extends 'TicmeFrontBundle::layout.html.twig' %}


{% block content %}
    {#<div class="row carousel-holder">

        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>#}

    <div class="row">
        <div class="col-md-3">
            {{ render(controller('TicmeFrontBundle:Category:categorieMenu')) }}
        </div>

        <div class="col-md-9">
        {% for product in products %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    {% if product.image.path  is not null %}
                        <img src="{{ asset('uploads/categories/' ~ product.image.path) }}" alt="{{ product.image.name }}">
                    {% else %}
                        <img src="http://placehold.it/320x150" alt="">
                    {% endif %}
                    <div class="caption">
                        <h4 class="pull-right">{{ product.priceHt|tva(product.tva.multi) }} €</h4>
                        <h4>
                            <a href="{{ path('ticme_front_product_show', {'slug': product.slug, 'id': product.id}) }}">
                                {{ product.title }}
                            </a>
                        </h4>
                        <p>{{ product.description|raw }}</p>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('ticme_front_product_show', {'slug': product.slug, 'id': product.id}) }}" class="btn btn-success">Plus d'infos</a>
                        <a href="{{ path('ticme_front_cart_add_product', {'id': product.id}) }}" class="btn btn-info">Ajouter au panier</a>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        {% endfor %}

        {#<div class="col-sm-4 col-lg-4 col-md-4">
            <h4><a href="#">Like this template?</a>
            </h4>
            <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
            <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
        </div>#}

    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}